.container {
  background: pink;
  width: 360px;
  margin: 0 auto;
}
.completed {
  color: gray;
  text-decoration: line-through;
}

.slideSource {
  opacity: 1;
  transition: 1s;
}

.fade {
  opacity: 0;
  transition: 1s;
}
